
      /*#######.
     ########",#:
   #########',##".
  ##'##'## .##',##.
   ## ## ## # ##",#.
    ## ## ## ## ##'
     ## ## ## :##
      ## ## ##*/

@import 'fonts.css';
@import 'codeblock.css';
@import 'tasklist.css';
@import 'mermaid.css';
@import 'sourcemode.css';
@import 'focusmode.css';
@import 'sidebar.css';

html {
  font-size: 16px;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #363b40;
  background: var(--bg-color);
  fill: currentColor;
  line-height: 1.625rem;
}

#write {
  max-width: 850px;
  padding-left: 65px;
  padding-right: 65px;
}

html,
body,
button,
input,
select,
textarea {
  font-family: var(--text-font);
}

hr {
  height: 2px;
  border: 0;
  margin: 24px 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: normal;
  clear: both;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  color: var(--title-color);
}

h1 {
  font-size: 3.6rem;
  line-height: 3.4rem;
  letter-spacing: -0.03em;
  font-weight: bold;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.03em;
  font-weight: 500;
}

h3 {
  font-size: 1.7rem;
  line-height: 1.85rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.375rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1.1rem;
  line-height: 1rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 980px) {
  h1.md-focus:before,
  h2.md-focus:before,
  h3.md-focus:before,
  h4.md-focus:before,
  h5.md-focus:before,
  h6.md-focus:before {
    border: 1px solid ;
    border-color: rgba(var(--title-color), .42);
    color: rgba(var(--title-color), .76);
    border-radius: 2px;
    position: absolute;
    left: -2.5rem;
    top: 0.45rem;
    float: left;
    font-size: 12px;
    padding: 2px 4px 2px 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: bottom;
    font-weight: normal;
    line-height: normal;
  }

  h1.md-focus:before {
    content: 'h1';
  }

  h2.md-focus:before {
    content: 'h2';
  }

  h3.md-focus:before {
    content: 'h3';
  }

  h4.md-focus:before {
    content: 'h4';
  }

  h5.md-focus:before {
    content: 'h5';
    top: 0px;
  }

  h6.md-focus:before {
    content: 'h6';
    top: 0px;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
  outline: 0;
}

a:hover {
  outline: 0;
}

a:focus {
  outline: thin dotted;
}

p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

p,
ul,
dd,
ol,
hr,
address,
pre,
table,
iframe,
.wp-caption,
.wp-audio-shortcode,
.wp-video-shortcode {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

::-moz-selection {
  background: var(--select-text-bg-color);
  color: var(--select-text-color);
  text-shadow: none;
}

*.in-text-selection,
::selection {
  background: var(--select-text-bg-color);
  color: var(--select-text-color);
  text-shadow: none;
}

ul,
ol {
  padding: 0 0 0 1.875rem;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

b,
th,
dt,
strong {
  font-weight: bold;
}

i,
em,
dfn,
cite {
  font-style: italic;
}

blockquote {
  background-color: var(--title-color);
  color: var(--bg-color);
  border: none;
  border-radius: 4px;
  padding: 16px 29px 16px 29px;
  margin: 31px 0 31px 0;
}

blockquote p {
  margin-bottom: 0.7rem;
}

li > blockquote {
  margin: 22px 0 25px 0;
}

pre,
code,
kbd,
tt,
var {
  /* background: rgba(0, 0, 0, 0.05); */
  font-size: 0.875rem;
  font-family: var(--code-font);
}

kbd {
  padding: 4px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: none;
}

pre.md-fences {
  padding: 10px 10px 10px 30px;
  margin-bottom: 20px;
  background-color: var(--code-background-color);
  border-radius: 3px;
}

.enable-diagrams pre.md-fences[lang='sequence'] .code-tooltip,
.enable-diagrams pre.md-fences[lang='flow'] .code-tooltip,
.enable-diagrams pre.md-fences[lang='mermaid'] .code-tooltip {
  bottom: -2.2em;
  right: 4px;
}

code,
kbd,
tt,
var {
  padding: 2px 5px;
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 5px 10px;
  vertical-align: top;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h1 {
  margin-top: 0.9em;
  margin-bottom: 0.7em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.7em;
}

h3 {
  margin-top: 1.8em;
  margin-bottom: 1.6em;
}

a {
  text-decoration: underline;
}

mark {
  border-radius: 2px;
  color: var(--highlight-mark-foreground);
  background: var(--highlight-mark-background);
  box-shadow: 0 0 0px 2px var(--highlight-mark-background);
}

/** quick open **/
.auto-suggest-container {
  border: 0px;
  background-color: #525c65;
}

#typora-quick-open {
  background-color: #525c65;
}

#typora-quick-open input {
  background-color: #525c65;
  border: 0;
  border-bottom: 1px solid grey;
}

.typora-quick-open-item {
  background-color: inherit;
  color: inherit;
}

.typora-quick-open-item.active,
.typora-quick-open-item:hover {
  background-color: #4d8bdb;
  color: white;
}

.typora-quick-open-item:hover {
  background-color: rgba(77, 139, 219, 0.8);
}

.typora-search-spinner > div {
  background-color: #fff;
}

#write pre.md-meta-block {
  border-bottom: 1px dashed #ccc;
  background: transparent;
  padding-bottom: 0.6em;
  line-height: 1.6em;
}

.btn,
.btn .btn-default {
  background: transparent;
  color: #b8bfc6;
}

.ty-table-edit {
  border-top: 1px solid gray;
  background-color: #363b40;
}

.popover-title {
  background: transparent;
}

.md-image > .md-meta {
  color: #bbbbbb;
  background: transparent;
}

.md-expand.md-image > .md-meta {
  color: #ddd;
}

#write > h3:before,
#write > h4:before,
#write > h5:before,
#write > h6:before {
  border: none;
  border-radius: 0px;
  color: #888;
  text-decoration: underline;
  left: -1.4rem;
  top: 0.2rem;
}

#write > h3.md-focus:before {
  top: 2px;
}

#write > h4.md-focus:before {
  top: 2px;
}

.md-toc-item {
  color: #a8c2dc;
}

#write div.md-toc-tooltip {
  background-color: #363b40;
}

.dropdown-menu .btn:hover,
.dropdown-menu .btn:focus,
.md-toc .btn:hover,
.md-toc .btn:focus {
  color: white;
  background: black;
}

#toc-dropmenu {
  background: rgba(50, 54, 59, 0.93);
  border: 1px solid rgba(253, 253, 253, 0.15);
}

#toc-dropmenu .divider {
  background-color: #9b9b9b;
}

.outline-expander:before {
  top: 2px;
}

.outline-title-wrapper .btn {
  color: inherit;
}

.outline-item:hover {
  border-color: #363b40;
  background-color: #363b40;
  color: white;
}

h1.md-focus .md-attr,
h2.md-focus .md-attr,
h3.md-focus .md-attr,
h4.md-focus .md-attr,
h5.md-focus .md-attr,
h6.md-focus .md-attr,
.md-header-span .md-attr {
  color: #8c8e92;
  display: inline;
}

.md-comment {
  color: #5a95e3;
  opacity: 1;
}

.md-inline-math g,
.md-inline-math svg {
  stroke: #b8bfc6 !important;
  fill: #b8bfc6 !important;
}

[md-inline='inline_math'] {
  color: #9cb2e9;
}

#math-inline-preview .md-arrow:after {
  background: black;
}

.modal-content {
  background: var(--bg-color);
  border: 0;
}

.modal-title {
  font-size: 1.5em;
}

.modal-content input {
  background-color: rgba(26, 21, 21, 0.51);
  color: white;
}

.modal-content .input-group-addon {
  color: white;
}

.modal-backdrop {
  background-color: rgba(174, 174, 174, 0.7);
}

.modal-content .btn-primary {
  border-color: var(--primary-color);
}

.md-table-resize-popover {
  background-color: #333;
}

.form-inline .input-group .input-group-addon {
  color: white;
}

#md-searchpanel {
  border-bottom: 1px dashed grey;
}

/** UI for electron */

.context-menu,
#spell-check-panel,
#footer-word-count-info {
  background-color: #42464a;
}

.context-menu.dropdown-menu .divider,
.dropdown-menu .divider {
  background-color: #777777;
}

footer {
  color: inherit;
}

@media (max-width: 1000px) {
  footer {
    border-top: none;
  }
  footer:hover {
    color: inherit;
  }
}

#file-info-file-path .file-info-field-value:hover {
  background-color: #555;
  color: #dedede;
}

.megamenu-content,
.megamenu-opened header {
  background: var(--bg-color);
}

.megamenu-menu-panel h2,
.megamenu-menu-panel h1,
.long-btn {
  color: inherit;
}

.megamenu-menu-panel input[type='text'] {
  background: inherit;
  border: 0;
  border-bottom: 1px solid;
}

#recent-file-panel-action-btn {
  background: inherit;
  border: 1px grey solid;
}

.megamenu-menu-panel .dropdown-menu > li > a {
  color: inherit;
  background-color: #2f353a;
  text-decoration: none;
}

.megamenu-menu-panel table td:nth-child(1) {
  color: inherit;
  font-weight: bold;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(1) {
  color: white;
}

.modal-footer .btn-default,
.modal-footer .btn-primary,
.modal-footer .btn-default:not(:hover) {
  border: 1px solid;
  border-color: transparent;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: white;
  border: 1px solid #ddd;
  background-color: inherit;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

#recent-file-panel tbody tr:nth-child(2n-1) {
  background-color: transparent !important;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(2) {
  color: inherit;
}

.megamenu-menu-panel .btn {
  border: 1px solid #eee;
  background: transparent;
}

.mouse-hover .toolbar-icon.btn:hover,
#w-full.mouse-hover,
#w-pin.mouse-hover {
  background-color: inherit;
}

.typora-node::-webkit-scrollbar {
  width: 5px;
}

.typora-node::-webkit-scrollbar-thumb:vertical {
  background: rgba(250, 250, 250, 0.3);
}

.typora-node::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(250, 250, 250, 0.5);
}

#w-unpin {
  background-color: #4182c4;
}

#top-titlebar,
#top-titlebar * {
  color: var(--item-hover-text-color);
}

.typora-sourceview-on #toggle-sourceview-btn,
#footer-word-count:hover,
.ty-show-word-count #footer-word-count {
  background: #333333;
}

#toggle-sourceview-btn:hover {
  color: #eee;
  background: #333333;
}

/*diagrams*/
#write .md-focus .md-diagram-panel {
  border: 1px solid #ddd;
  margin-left: -1px;
  width: calc(100% + 2px);
}

/*diagrams*/
#write .md-focus.md-fences-with-lineno .md-diagram-panel {
  margin-left: auto;
}

.md-diagram-panel-error {
  color: #f1908e;
}

.md-mathjax-midline {
  background-color: #57616b;
  border-bottom: none;
}

footer.ty-footer {
  border-color: #656565;
}

.ty-preferences .btn-default {
  background: transparent;
}
.ty-preferences .btn-default:hover {
  background: #57616b;
}

.ty-preferences select {
  border: 1px solid #989698;
  height: 21px;
}

.ty-preferences .nav-group-item.active {
  background: var(--item-hover-bg-color);
}

.ty-preferences input[type='search'] {
  border-color: #333;
  background: #333;
  line-height: 22px;
  border-radius: 6px;
  color: white;
}

.ty-preferences input[type='search']:focus {
  box-shadow: none;
}

[data-is-directory='true'] .file-node-content {
  margin-bottom: 0;
}

.file-node-title {
  line-height: 22px;
}

.html-for-mac .file-node-open-state,
.html-for-mac .file-node-icon {
  line-height: 26px;
}

::-webkit-scrollbar-thumb {
  background: rgba(230, 230, 230, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(230, 230, 230, 0.5);
}
