
      /*#######.
     ########",#:
   #########',##".
  ##'##'## .##',##.
   ## ## ## # ##",#.
    ## ## ## ## ##'
     ## ## ## :##
      ## ## ##*/

/* Markdown Source */

.cm-s-typora-default .cm-header,
.cm-s-typora-default .cm-property {
  color: #cebcca;
}

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
  border-left: 3px solid #b8bfc6;
}

.cm-s-typora-default .cm-comment {
  color: #9fb1ff;
}

.cm-s-typora-default .cm-string {
  color: #a7a7d9;
}

.cm-s-typora-default .cm-atom,
.cm-s-typora-default .cm-number {
  color: #848695;
  font-style: italic;
}

.cm-s-typora-default .cm-link {
  color: #95b94b;
}

.cm-s-typora-default .CodeMirror-activeline-background {
  background: rgba(51, 51, 51, 0.72);
}

.cm-s-typora-default .cm-comment,
.cm-s-typora-default .cm-code {
  color: #8aa1e1;
}
