
      /*#######.
     ########",#:
   #########',##".
  ##'##'## .##',##.
   ## ## ## # ##",#.
    ## ## ## ## ##'
     ## ## ## :##
      ## ## ##*/

.task-list {
  padding-left: 0;
}

.md-task-list-item {
  padding-left: 1.25rem;
}

.md-task-list-item > input {
  top: auto;
  background: transparent;
  margin-left: -1.3em;
  margin-top: 0.3rem;
  -webkit-appearance: none;
}

.md-task-list-item > input:before {
  content: '✓';
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  text-align: center;
  border: 2px solid;
  border-color: var(--title-color);
  border-radius: 100%;
  background-color: transparent;
  margin-top: -0.38rem;
  margin-left: -0.54rem;
  font-size: 0.0rem;
  line-height: 1.0rem;
  color: rgba(0, 0, 0, 0.0);
  transition: all 0.3s;
  font-weight: 800;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before {
  font-size: 1.0rem;
  color: var(--bg-color);
  background-color: var(--title-color);
}
